<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPYzgm3ctd1puQPOPjnxBAIOgidknGwu8&callback=initMap&libraries=places"
  type="text/javascript" async defer ></script>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script type="text/javascript" src="/assets/buttons.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/site.css">

</head>
<body>
  <div id="map" style="visibility:hidden;"></div>
	<div id="logoDiv">
		<img id="logo" src="/assets/logo.png" width="100%">
    <div id="intro-msg">Let's put these buttons to good use.</div>
	</div>

	<div id="inspiration-div">
		<form id="inspiration-form">
        <div id="inspiration-text">Enter some inspiration... </div>
  			<input type="text" id="inspiration-input" placeholder="inspiration here"><br>
        <div id="submitBtnWrap">
          <input id="textfield" type="submit" value="Go">
        </div>
		</form>
	</div>

  <div>
    <!-- Uber button -->
    <div id="uber-button" data-bttnio-id="btn-2be3b964e4ec877f" data-bttnio-context='{ "user_location": { "latitude": 40.6827, "longitude": -73.9754 }, "subject_location": { "latitude": 40.7382869, "longitude": -73.9823721 } }'></div>

    <!-- Quandoo button -->
    <div id="quandoo-button" data-bttnio-id="btn-0325aa405f4ea140"
    data-bttnio-context='{ "user_location": { "latitude": 40.7382869, "longitude": -73.9823721 } }'></div>

    <!-- Jet button -->
    <div id="jet-button" data-bttnio-id="btn-1022822d571cf465"
       data-bttnio-context='{ "item": { "identifiers": { "jet": "b07b0650208c4dfabf99277e863d5c51" } } }'></div>

    <!-- Groupon button -->
    <div id="groupon-button" data-bttnio-id="btn-2e3af9237ef21a4c"></div>
    
    <!-- delivery.com button -->
    <div id="deliverycom-button" data-bttnio-id="btn-4029504a709ce5df"
       data-bttnio-context='{ "user_location": { "latitude": 40.6827, "longitude": -73.9754 }, "subject_location": { "identifiers": { "deliverydotcom": "71562" } } }'></div>

    <!-- Hotels.com button -->
    <div id="hotelscom-button" data-bttnio-id="btn-4234000853f6a360"
       data-bttnio-context='{ "user_location": { "latitude": 40.6827, "longitude": -73.9754 } }'></div>

    <!-- Drizly button -->
    <div id="drizly-button" data-bttnio-id="btn-4bd35bca12181d57"
      data-bttnio-context='{ "user_location": { "latitude": 40.7382869, "longitude": -73.9823721 } }'></div>

    <!-- Ticketmaster button -->
    <div id="ticketmaster-button" data-bttnio-id="btn-4e3bbaaa65fb4072" data-bttnio-context='{ "artist": { "artist_name": "Green Day" } }'></div>

    <!-- Ebay button -->
    <div id="ebay-button" data-bttnio-id="btn-59977f7d12e02551"></div>

    <!-- iTunes button -->
    <div id="itunes-button" data-bttnio-id="btn-5de6d93abecc3fc3"></div>

    <!-- Delivery Hero button -->
    <div id="deliveryhero-button" data-bttnio-id="btn-6151e1316fe1519b"></div>

    <!-- Resy button -->
    <div id="resy-button" data-bttnio-id="btn-69a92b541453ec1e"
       data-bttnio-context='{ "user_location": { "latitude": 25.782324, "longitude": -80.2310801 } }'></div>
  </div>

  <div id="sponsor">
    Powered by <a href="https://www.usebutton.com/">Button</a>
  </div>

  <script>
      window.ButtonWebConfig = {
          applicationId: 'app-509786d4359ba10b',
          enableLogging: true
      };
      (function(u,s,e,b,t,n){
          u['__bttnio']=b;u[b]=u[b]||function(){(u[b].q=u[b].q||[]).push(arguments)};t=s.createElement(e);n=s.getElementsByTagName(e)[0];t.async=1;t.src='https://web.btncdn.com/v1/button.js';n.parentNode.insertBefore(t,n)
      })(window, document, 'script', 'bttnio');
  </script>
</body>