body {
	background-color: #fff5c7;
}

#logoDiv, #inspiration-div{
	width:100%;

}

#logo{
	margin:auto;
	width:80%;
	margin-left: 10%;
}

#intro-msg{
	width:100%;
	text-align: center;
	color:#206FB7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30;
	padding-bottom: 30px; 
}

#inspiration-text{
	width:100%;
	text-align: center;
	color:#206FB7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 40;
}

#inspiration-input{
	width:300px;
	height:60px;
	margin-left:calc(50% - 150px);
	margin-top: 15px;
	border-radius: 5px;

	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size:30;
	color:#575757;
}

#inspiration-div{
	width:'100%';
}

#submitBtnWrap {
	margin:auto;
	text-align:center;
}

#textfield{
	font-size: 25;
	margin: auto;
	padding: 10px 30px;
	margin-top:15px;
	background-color: #4594de;
    border: none;
    color: white;
    border-radius: 10px;
}

#textfield:focus {
	outline:none;
	background-color: #79b2e7;
}

#sponsor{
	line-height: 100vh;
	width:100%;
	text-align: center;
	color:#206FB7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20;
	padding-bottom: 30px; 
}
